<!doctype html>
<html lang="en">
  <head>
   <% include partials/header %>
  </head>

  <body>

    <% include partials/nav %>

    <main role="main" class="container">
    <div class="starter-template">
      <% include partials/notifications %>
      <h1>Add New Food To The Inventory</h1>
      <div id="newItemFormContainer" >
      </div>

    </div>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <% include partials/js_imports %>
      <script src="/js/picturetable.js"></script>
      <script src="/js/newmealform.js"></script>
  </body>
</html>

