<!doctype html>
<html lang="en">
  <head>
   <% include partials/header %>
  </head>

  <body>

    <% include partials/nav %>

    <main role="main" class="container">

    <div class="starter-template">
      <h1>Meal Planner</h1>
      <p class="lead">Welcome to the MealPlanner! <br />Here are the current active menus</p>

      <br/>

      <i class="fas fa-utensils fa-5x"></i>

      <h2>Menus</h2>
      <% include partials/menu_table %>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <% include partials/js_imports %>
      <script src="/js/editmenutable.js"></script>
  </body>
</html>

