<!doctype html>
<html lang="en">
  <head>
    <% include partials/header %>
  <style>
    .menu-item:nth-child(odd) {
      background : #ddd;
    }
  </style>
  </head>

  <body>
    <% include partials/menu_display %>
  </body>
</html>

