<table id="edit-meal-table" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Difficulty</th>
      <th scope="col">Images</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <!-- Populated by javascript -->
  </tbody>
</table>
