<div id="image-upload-display" class="rounded-border">
  <label for="image-selector"><i class="fas fa-camera fa-7x"></i></label>
  <input type="file" name="imageFile" id="image-selector" class="hidden" accept="image/*"/>
  <br />
  <div id="image-container"></div>
</div>

