<div class="container">
  <div id="inventory-list">
    <div id="new-inventory-entry">
      <input id="new-inventory-input" type="text" placeholder="New Item Name" />
    </div>
    <div id="inventory-list">
      <table id="inventory-item-table" class="table">
        <thead>
          <th>Item Name</th>
          <th>Count</th>
          <th>Controls</th>
        </thead>
        <tbody>
          <!-- Populated by JS -->
        </tbody>
      </table>
    </div>
  </div>
</div>

