<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Simple Meal Planner Application">
<meta name="author" content="James Slocum">

<title>Meal Planner</title>

<!-- Bootstrap core CSS -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Fontawesome CSS -->
<link href="/lib/Fontawesome/css/fontawesome-all.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/mealplanner.css" rel="stylesheet">
